@import "tailwindcss";

button:not(:disabled),
a,
select,
input[type="checkbox"],
input[type="radio"],
[role="button"] {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.password-input::-ms-reveal,
.password-input::-ms-clear {
  display: none;
}

&::after {
  content: "";
  position: absolute;
  top: -4.5px;
  border: 5px solid transparent;
}

&::before {
  left: 0;
  border-left-color: var(--border);
}
&::after {
  right: 0;
  border-right-color: var(--border);
}
